set surround
set multiple-cursors
:map <Space>bf :action ReformatCode<CR>
:map ,e :action RenameElement<CR>
:map ,r :action Run<CR>
:map ,c :action RunClass<CR>
:map <Space>bd :action CloseContent<CR>
